body {
  margin: 0;
}

nav {
  position: fixed;
  top: 10px;
  left: 10px;
}

header {
  position: fixed;
  top: 10px;
  left: 200px;
  font-size: 24pt;
  background-color: #fff;
  padding: 5px;
}

section {
  padding: 60px 40px 40px 200px;
  height: 700px;
}
